body {
    font-family: Arial, sans-serif;
    background-color: #0051A2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.payment-option {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.payment-option img {
    width: 50px;
    margin-right: 20px;
}

.payment-option span {
    flex-grow: 1;
    font-size: 1.2em;
}

.payment-option button {
    background-color: #0051A2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.payment-option button:hover {
    background-color: #003a70;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.invoice-table {
    width: 100%;
    border-collapse: collapse;
}
.invoice-table th, .invoice-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.invoice-table th {
    background-color: #0051A2;
    border-radius: 12px;
}
.total-row {
    font-weight: bold;
}

/* Tambahkan CSS berikut di dalam file styles.css */
@media (max-width: 400px) {
    .invoice-table th, .invoice-table td {
        padding: 6px; /* Mengurangi padding agar muat di layar kecil */
        font-size: 0.8em; /* Mengurangi ukuran font untuk tampilan lebih kompak */
    }
    .invoice-table th {
        font-size: 0.9em; /* Ukuran font sedikit lebih besar untuk header */
    }
}
